@using test.ModelViews
@model CreateOrderViewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | HappyPaws Haven</title>
</head>
<body>
    <div class="page-wrapper">
       <!-- Main Content -->
        <div class="payment-container">

            <div class="payment-box">
                <h1>Complete Your Purchase</h1>
                <p class="subtitle">Secure your payment safely 🐾</p>

                <div class="summary">
                    <p><strong>Item:</strong>@Model.productName </p>
                    <p><strong>Price:</strong> @Model.productPrice$</p>
                    <p><strong>Quantity:</strong> @Model.Quantity</p>
                    <p><strong>Total Price:</strong> @(Model.productPrice*Model.Quantity)$</p>
                </div>

                <form asp-action="create" method="post" asp-route-UserId="@Model.UserId" asp-route-ProductId="@Model.ProductId" asp-route-Quantity="@Model.Quantity">
                    <div class="input-group">
                    <div class="radiobuttons-group" style="color:black;">
                        <label asp-for="selectedPaymentMethodid">payment method</label>
                        @if (Model.paymentMethods.Count == 0)
                            {
                                <p>No payment methods available.</p>
                                <div>
                                <p class="signup-link">add payment method <a asp-action="create" asp-controller="PaymentMethod" style="text-decoration:none;color:#db98b7">add method</a></p>
                            </div>
                          }else{
                        @foreach (var method in Model.paymentMethods)
                            {   

                                                <div class="radio-button-methods">
                            <input type="radio" asp-for="selectedPaymentMethodid" value="@method.PaymentMethodId" required />
                                        <p>  @if(@method.MethodType=="Visa"){<i class="fa-brands fa-cc-visa" ></i>} else{<i class="fa-brands fa-cc-mastercard"></i>}  ****-****-****-@method.last4Digits </p>
                            </div>
                            }
                            }
                            <a asp-action="create" asp-controller="PaymentMethod" style="text-decoration:none;color:#db98b7">Add Payment Method</a>
                        </div>
                        <span asp-validation-for="paymentMethods" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn">Pay Now</button>
                </form>
            </div>
        </div>


    </div>
</body>
</html>

